body {
    background-color: #a06c7c8a;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px; 
}

header {
    background-color: rgb(144, 134, 144);
    border: 5px rgb(111, 109, 109) solid;
    background-image: linear-gradient(to right, rgba(225, 208, 208, 0), rgb(89, 164, 177));
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
}
.header-image {
    float: right;
    width: 30%;
}
.background-image {
    background-image: url("images/music-background.jpg");
}

figcaption {
    color:rgb(14, 14, 18);
    font-size: 40px;
    background-color: rgb(252, 248, 244);
    font-style: oblique;
    border-radius: 10px;
    padding: 10px;
}

img {
    width: 40%;
    border-radius: 40%; 
    border: 6px solid #5b5757;
    border-radius: 5ch; 
    margin: .5em;
}

/* section.figure {
    display: table;
} */
section.figure p {
    display: table-caption;
    caption-side: top;
}
.example-1 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer i {
    font-size: 40px;
}

